body {
	background-color: lightblue;
	font-family: system-ui;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#cvmain {
	box-shadow: 0 30px 50px gray;
	border-radius: 5px;
	background-color: white;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 550px;
	height: 80%;
}

#backimg2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
}

#backimg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
}

#archie1 {
	border: solid 1px black;
	width: 75px;
	height: 75px;
	object-fit: cover;
	object-position: 100% 1;
	border-radius: 50%;
	margin-top: 11px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	margin-left: 25px;
	font-size: 12px;
}

button {
	width: 45%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: rgb(70, 156, 0);
	color: white;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
	transition: 150ms;
}

button:hover {
	background-color: darkgreen;
	cursor: pointer;
}

p {
	font-size: 12px;
	margin-right: 25px;
	margin-left: 25px;
}

h2 {
	background-color: rgb(40, 45, 50);
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: left;
	font-size: 16px;
	text-transform: uppercase;
	transition: 150ms;
}

h2:hover {
	background-color: rgb(70, 75, 80);
	cursor: pointer;
}

h1 {
	text-transform: uppercase;
	font-size: 20px;
	left: 50%;
	top: 72%;
	position: absolute;
	transform: translate(-50%, -50%);
}

h3 {
	margin-left: 25px;
	margin-bottom: 0;
}

#titleindiv {
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 130px;
	padding: 5px;
	background-color: rgb(91, 91, 91);
}

#left {
	width: 50%;
	top: 140px;
	bottom: 0;
	position: absolute;
}

#right {
	overflow: scroll;
	width: 50%;
	right: 0;
	top: 140px;
	bottom: 0;
	position: absolute;
}

#linemiddle {
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	width: 1px;
	height: 100%;
	background-color: rgb(91, 91, 91);
}

#workbuttons, #skillsbuttons, #educationbuttons, #divdrumlessonhide, #divdayporterhide, #divasdahide, #divgymhide, #divmusichide, #divsurfinghide, #divdrumshide, #divsecondaryhide, #divmusicgradeshide, #divcollegehide, #divpersonalstatementhide {
	display: none;
}

#questionimg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	transition: 200ms;
}

#questionimg:hover {
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

#navigate {
	text-align: center;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	background-color: rgb(40, 45, 50);
	color: white;
	padding: 10px;
	border-radius: 10px;
	width: 50%;
	max-width: 400px;
	position: fixed;
	z-index: 999;
}

footer {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}